@tailwind base;

@layer base {
  @font-face {
    font-family: 'Pretendard Variable';
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');
    font-display: swap;
  }

  html {
    font-family: 'Pretendard Variable', ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
  }
  ul,
  li {
    list-style: none;
  }
}

@layer components {
  .color-duration {
    @apply transition-colors duration-300;
  }

  .skeleton {
    @apply animate-pulse bg-gray-300;
  }

  .reset-input {
    @apply w-full placeholder-gray-400 outline-none;
  }

  .reset-textarea {
    @apply w-full resize-none placeholder-gray-400 outline-none;
  }

  .reset-button {
    @apply w-full select-none disabled:cursor-not-allowed disabled:bg-gray-400 disabled:hover:bg-gray-400;
  }

  /* TODO: common input, common button 적용하던거 위 스타일로 바꾸고 디테일한 스타일은 추가 적용하게 수정 */
  .common-input {
    @apply w-full rounded-2xl px-4 py-3 text-sm placeholder-gray-400 outline-none;
  }

  .common-button {
    @apply flex w-full select-none items-center justify-center rounded-2xl py-3 text-sm disabled:bg-gray-400 disabled:hover:bg-gray-400;
  }
}

@tailwind components;
@tailwind utilities;
