@tailwind base;

@layer base {
  @font-face {
    font-family: 'Pretendard Variable';
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');
    font-display: swap;
  }

  html {
    font-family: 'Pretendard Variable', ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }
  ul,
  li {
    list-style: none;
  }
  textarea:disabled,
  input:disabled {
    /* 모바일 사파리 브라우저에서 textarea와 input이 disabled 되었을 때 회색으로 보이는 이슈가 있어서 생성한 클래스입니다. */
    opacity: 1;
  }
  textarea:disabled::placeholder,
  input:disabled::placeholder {
    opacity: 0.5;
  }
  .vh-full {
    /*  높이를 100vh로 적용할 필요가 있는 곳에서 사용하는 클래스(모바일에서 vh 검색창 포함 여부에 따라 레이아웃이 달라지기 때문) */
    height: 100vh; /* 새 단위를 지원하지 않는 소수의 브라우저를 위해 */
    height: 100dvh; /* dvh, lvh, svh 중 선택해서 사용 */
  }
}

@layer components {
  .color-duration {
    @apply transition-colors duration-300;
  }

  .skeleton {
    @apply animate-pulse bg-gray-300;
  }

  .reset-input {
    @apply w-full placeholder-gray-400 outline-none;
  }

  .reset-textarea {
    @apply w-full resize-none placeholder-gray-400 outline-none;
  }

  .reset-button {
    @apply w-full select-none disabled:cursor-not-allowed disabled:bg-gray-400 disabled:hover:bg-gray-400;
  }
}

@tailwind components;
@tailwind utilities;
