@tailwind base;

@layer base {
  @font-face {
    font-family: 'Pretendard Variable';
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');
    font-display: swap;
  }

  html {
    font-family: 'Pretendard Variable', ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }
  ul,
  li {
    list-style: none;
  }
  textarea:disabled,
  input:disabled {
    /* 모바일 사파리 브라우저에서 textarea와 input이 disabled 되었을 때 회색으로 보이는 이슈가 있어서 생성한 클래스입니다. */
    color: inherit;
    -webkit-text-fill-color: inherit;
    opacity: 1;
  }
  textarea:disabled::placeholder,
  input:disabled::placeholder {
    opacity: 0.5;
  }
}

@layer components {
  .color-duration {
    @apply transition-colors duration-300;
  }

  .skeleton {
    @apply animate-pulse bg-gray-300;
  }

  .reset-input {
    @apply w-full placeholder-gray-400 outline-none;
  }

  .reset-textarea {
    @apply w-full resize-none placeholder-gray-400 outline-none;
  }

  .reset-button {
    @apply w-full select-none disabled:cursor-not-allowed disabled:bg-gray-400 disabled:hover:bg-gray-400;
  }
}

@tailwind components;
@tailwind utilities;
